:root {
  /* Neutral */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Orange */
  --orange-500: hsl(28, 100%, 52%);

  /* Blue */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  /*font-size*/
  font-size: 18px;
  color: var(--neutral-0);
}

@font-face {
   font-family: 'DM';
   src: url('../assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype-variations');
   font-weight: 300 700;
}
@font-face{
   font-family: 'BG';
   src: url(../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf) format('truetype-variations');
   font-weight: 700;
}
body{
   background-color: var(--neutral-900);
   font-family: DM;
}
h1{
   text-align: center;
}
#header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#units{
   display: flex;
   background-color: var(--neutral-800);
   gap:0.4rem;
   padding: 0.4rem;
   border-radius: 0.2rem;
}
img[class="toolIcons"]{
   width: 16px;
}

@media(max-width:540px){
   body{
      padding: 0.4rem;
   }
   #placeMenu{
      height: 10rem;
      background-image: url(../assets/images/bg-today-small.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 1rem;
   }
   #tempIcon{
      height: 5rem;
   }
   #statsMenu{
      margin-top:0.7rem;
      margin-bottom: 0.7rem;
      display: grid;
      height: 12rem;
      grid-template-columns:repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
      gap:0.7rem;
   }
   .statsObject{
      padding: 0.7rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      border: 1px solid var(--neutral-600);
      gap:0.5rem;
   }
   .cardTitle{
      font-size: 0.8rem;
   }
   .statsValue{
      font-size: 1.5rem;
   }
   .weekIcon{
      width: 4rem;
   }
   #dailyforcast{
      display: grid;
      grid-template: repeat(3,1fr)/repeat(3,1fr);
      gap:0.7rem;
      margin:0.7rem 0;
   }
   .dailyCard{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--neutral-800);
   }
   .dailyTemp{
      display: flex;
      justify-content: space-between;
   }
}

@media(min-width:500px){


}

form{
   display: flex;
   gap:0.5rem;
   flex-direction:column;
}
#search{
   background-color:var(--neutral-800);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.4rem;
   border-radius: 0.3rem;
   gap:0.5rem;
}

#searchInput{
   border: none;
   color: var(--neutral-300);
   background-color: var(--neutral-800);
   margin-right: auto;
}

#searchButton{
   color:var(--neutral-200);
   padding: 0.4rem;
   border-radius: 0.3rem;
   gap:0.5rem;
   width:100%;
   background-color: var(--blue-500);
}

#placeMenu{
   display: flex;
   margin-top:1rem;
   border-radius: 1rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#placeName{
   font-size: 1.5rem;
}
#tempDisplay{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#dateDay{
   color: var(--neutral-200);
}
#temperature{
   font-size: 3rem;
   font-style: italic;
}

.statsObject{
   background-color: var(--neutral-800);
}