:root {
  /* Neutral */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Orange */
  --orange-500: hsl(28, 100%, 52%);

  /* Blue */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  font-size: 18px;
  color: var(--neutral-0);
}

@font-face {
  font-family: "DM";
  src: url("../assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 300 700;
}
@font-face {
  font-family: "BG";
  src: url("../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 700;
}

body {
  background-color: var(--neutral-900);
  font-family: DM;
}

h1 {
  text-align: center;
}

img[class="toolIcons"] {
  width: 16px;
}

form {
  display: flex;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#units {
  display: flex;
  background-color: var(--neutral-800);
  gap: 0.4rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  position: relative;
  cursor: pointer;
}

#search {
  background-color: var(--neutral-800);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  gap: 0.5rem;
  padding-left: 0.7rem;
}

#searchInput {
  border: none;
  color: var(--neutral-300);
  background-color: var(--neutral-800);
}

#searchInput:focus {
  outline: none;
}

#searchButton {
  color: var(--neutral-200);
  padding: 0.4rem;
  border-radius: 0.3rem;
  gap: 0.5rem;
  background-color: var(--blue-500);
}

#placeMenu {
  display: flex;
  margin-top: 1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

#placeName {
  font-size: 1.5rem;
}

#tempDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dateDay {
  color: var(--neutral-200);
}

#temperature {
  font-size: 3rem;
  font-style: italic;
}

.statsObject {
  background-color: var(--neutral-800);
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  border: 1px solid var(--neutral-600);
  gap: 0.5rem;
}

.cardTitle {
  font-size: 0.8rem;
}

.statsValue {
  font-size: 1.5rem;
}

.weekIcon {
  width: 3rem;
}

.dailyCard {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-800);
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-600);
}

.dailyTemp {
  display: flex;
  gap: 1.5rem;
}

#hoursMenu {
  background-color: var(--neutral-800);
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  border-radius: 1rem;
  border: none;
}

#hoursHeader {
  display: flex;
  justify-content: space-between;
}

#hourtitle {
  padding: 0.7rem;
  gap: 0.7rem;
}

#DayD {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  background-color: var(--neutral-600);
  padding: 0.4rem 0.9rem;
  gap: 0.7rem;
  min-width: 5.5rem;
  border-radius: 0.7rem;
  position: relative;
  cursor: pointer;
}
#dayDropdown {
  width: 0.7rem;
}
#hourContainer {
  display: grid;
  grid-template: 1frpx/repeat(8,1fr);
  gap: 0.3rem;
  height: 32rem;
  margin-top: 0.7rem;
  overflow: auto;
}

.hour{
  display: flex;
  align-items: center;
  margin: 0.5rem;
  background-color: var(--neutral-700);
  border-radius: 0.5rem;
  gap:0.3rem;
  border: 2px solid var(--neutral-600);
}

.hourIcon{
  width: 3rem;
}
.time{
  margin-right:auto;
}
.hourTemp{
  padding-right: 1.5rem;
}
/* mobile */
@media (max-width: 500px) {
  body {
    padding: 0.4rem;
  }

  form {
    flex-direction: column;
    gap: 0.5rem;
  }

  #searchInput {
    width: 100%;
    height: 2rem;
  }

  #searchButton {
    width: 100%;
  }

  #placeMenu {
    height: 10rem;
    background-image: url(../assets/images/bg-today-small.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    flex-direction: column;
  }

  #statsMenu {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    display: grid;
    height: 12rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.7rem;
  }

  .weekIcon {
    width: 3rem;
  }

  #dailyforcast {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 0.7rem;
    margin: 0.7rem 0;
    height: 21rem;
  }

  #tempIcon {
    height: 5rem;
  }
}

/*tabs*/
@media (min-width: 500px) and (max-width: 1000px) {
  body {
    padding: 0.4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr), clamp(12.7rem, 17rem, 25vw);
    grid-template-rows: repeat(4, clamp(12rem));
  }

  #searchMenu {
    grid-area:1/1/2/4;
  }

  form {
    justify-content: center;
    gap:1rem;
  }
  #searchInput {
    width: 100%;
    min-width: 4rem;
    height: 2rem;
  }

  #searchButton {
    width: 15vw;
  }

  #placeMenu {
    grid-area:2/1/3/4;
    padding: 0 4rem;
    height: 10rem;
    background-image: url(../assets/images/bg-today-large.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #statsMenu {
    grid-area:3/1/4/3;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    display: grid;
    height: 10rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.7rem;
  }

  .weekIcon {
    width: 3rem;
  }

  #weekMenu {
    grid-area: 4/1/5/3;
  }

  #dailyforcast {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 0.7rem;
    margin: 0.7rem 0;
    height: 20rem;
  }

  #hoursMenu {
    grid-area:3/3/5/4;
    margin-top: 0.5rem;
    margin-left: 0.7rem;
  }

  #tempIcon {
    height: 5rem;
  }
}

/* laptops*/

@media (min-width: 1000px) {
  body {
    padding: 2.5vh 5vw;
    display: grid;
    grid-template-columns: 60vw , 15vw;
    grid-template-rows: 20vh, 20vh, 25vh, 25vh;
  }

  #searchMenu {
    grid-area: 1/1/2/3;
  }
  form{
    display: flex;
    justify-content: center;
    gap:1rem;
  }
  #searchInput {
    width: 35vw;
    height: 2rem;
    border-radius: 0.7rem;
  }

  #searchButton {
    width: 15vw;
  }

  #placeMenu {
    grid-area:2/1/3/2;
    padding: 0 4rem;
    height: 8rem;
    background-image: url(../assets/images/bg-today-large.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #statsMenu {
    grid-area:3/1/4/2;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    display: grid;
    height: 6 rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.7rem;
  }

  .weekIcon {
    width: 4rem;
  }

  #weekMenu {
    grid-area: 4/1/5/2;
  }

  #dailyforcast {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(7, 1fr);
    gap: 0.7rem;
    height: 8rem;
    margin-top: 0.8rem;
  }

  #hoursMenu {
    grid-area:2/2/5/3;
    margin-top: 1rem;
    margin-left: 0.7rem;
    padding: 0.8rem;
  }

  #tempIcon {
    height: 5rem;
  }
  #hourContainer{
    height: 22rem;
  }
}

#unitsDropdown{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: var(--neutral-700);
  transform: translate(-6.5rem,1rem);
  padding:0.7rem;
  border: 2px solid var(--neutral-600);
  border-radius: 0.7rem;
  width: 9rem;
  transition: opacity 0.3s ease-out 0.2s, visibility 0s linear 0.2s;
  z-index: 1;
}
.dropdownHeading{
  margin-bottom: 0.2rem;
}
.list{
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  padding:0.4rem;
}

#units:hover #unitsDropdown{
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}


hr{
  border:none;
  background-color: var(--neutral-600);
  height: 2px;
  width: 100%;
}

.dropdownHeading{
  font-size: 0.5rem;
  color: var(--neutral-300);
}

.tick{
  display: none;
}

#celsius.list.selected{
  background-color: var(--neutral-900);
}

#celsius.list.selected .tick{
  display: block;
}

#fahrenheit.list.selected{
  background-color: var(--neutral-900);
}
#fahrenheit.list.selected .tick{
  display: block;
}

#kiloMeter.list.selected{
  background-color: var(--neutral-900);
}

#kiloMeter.list.selected .tick{
  display: block;
}

#mile.list.selected{
  background-color: var(--neutral-900);
}

#mile.list.selected .tick{
  display:block;
}

#millimeters.list.selected{
  background-color: var(--neutral-900);
}

#millimeters.list.selected .tick{
  display: block;
}

#inches.list.selected{
  background-color: var(--neutral-900);
}

#inches.list.selected .tick{
  display: block;
}
#hourDropdown{
  visibility:hidden;
  position:absolute;
  background-color: var(--neutral-800);
  transform: translate(-0.5rem,9rem);
  padding: 0.5rem;
  border:2px solid var(--neutral-700);
  border-radius: 1rem;
  transition: opacity 0.3s ease-out 0.2s, visibility 0s linear 0.2s; 
}
#hourDropdown div{
  padding: 0.5rem;
}
#DayD:hover #hourDropdown{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}

.hidden {
  display: none !important;
}

.noResult {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.7rem;
}

.errorContainer{
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}

.muteImg{
  width: 2rem;
}

.retryContainer{
  display: flex;
  background-color: var(--neutral-800);
  gap:0.5rem;
  padding: 0.5rem;
  border:2px solid var(--neutral-700);
  border-radius: 0.5rem;
}

.choosen{
  background-color: var(--neutral-900);
}